<!-- Contact -->
<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2 class="my-title-section">8 (&#057;&#049;&#054;) 785 27 28</h2>
                <br>
                <br>
            </div>

            <form role="form" action="email_form" method="POST" id="EmailSendForm">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="EmailSendName" placeholder="{{ locale['block.contact.form.name'] }}" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="EmailSendContact" name="InputEmail" placeholder="{{ locale['block.contact.form.feedback'] }}" required  >
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <textarea name="InputMessage" id="EmailSendMessage" class="form-control" rows="4" required placeholder="{{ locale['block.contact.form.message'] }}"></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil form-control-feedback"></i></span>
                        </div>
                    </div>
                    <input disabled type="submit" name="submit" id="sumbitEmailSend" value="{{ locale['block.contact.form.submit'] }}" class="btn wow tada btn-embossed btn-primary pull-right">
                </div>
            </form>

            <hr class="featurette-divider hidden-lg">
            <div class="col-md-5 col-md-push-1 address">
                <address>
                    {% autoescape false %}
                    <p class="lead" style="margin-top:0">{{ locale['block.contact.desc'] }}</p>
                    {% endautoescape %}
                </address>
                <hr>
                <li class="social">
                    <a href="skype:ruszhamaletdinov?add" target="_blank"><i class="fa fa-skype"></i> </a>
                    <a href="https://bitbucket.org/rzhamaletdinov/" target="_blank"><i class="fa fa-bitbucket" ></i></a>
                    <a href="https://github.com/rzhamaletdinov" target="_blank"><i class="fa fa-github" ></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100007058232157" target="_blank"><i class="fa fa-facebook" ></i></a>
                    <a href="https://vk.com/rzhamaletdinov" target="_blank"><i class="fa fa-vk"></i> </a>
                </li>
            </div>
        </div>
    </div>
</div>