<!-- Credits -->
{% autoescape false %}
<div id="credits" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2 class="my-title-section">{{ locale['block.employers.title'] }}</h2>
                <br>
                <p class="lead" style="margin-top:0">{{ locale['block.employers.desc'] }}</p>
            </div>

            <div class="col-sm-6  block wow bounceIn">
                <a href="https://camelotpay.com" target="_blank">
                    <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-money fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> {{ locale['block.employers.camelotpay.title'] }} </h3>
                        <p>{{ locale['block.employers.camelotpay.desc'] }}</p>
                    </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <a href="https://webtransfercard.com" target="_blank">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-credit-card fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> {{ locale['block.employers.webtransfercard.title'] }} </h3>
                        <p>{{ locale['block.employers.webtransfercard.desc'] }}</p>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="row tworow">
            <div class="col-sm-6  block wow bounceIn">
                <a href="http://playflock.com" target="_blank">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-gamepad fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> {{ locale['block.employers.playflock.title'] }} </h3>
                        <p>{{ locale['block.employers.playflock.desc'] }}</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <a href="http://qsoft.ru" target="_blank">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-keyboard-o fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> {{ locale['block.employers.qsoft.title'] }}</h3>
                        <p>{{ locale['block.employers.qsoft.desc'] }}</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endautoescape %}