<!-- Screenshot -->
<div id="screen" class="content-section-b">
    <div class="container">
        <div class="row" >
            <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
{#                <h2 class="my-title-section">Примеры</h2>
                <p class="lead" style="margin-top:0">Немного скриншотов</p>#}
            </div>
        </div>
        <div class="row wow bounceInUp" >
            <div id="owl-demo" class="owl-carousel">

                <a href="{{ locale['block.screens.1'] }}" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="{{ locale['block.screens.1'] }}" alt="Owl Image">
                    </div>
                </a>

                <a href="{{ locale['block.screens.2'] }}" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="{{ locale['block.screens.2'] }}" alt="Owl Image">
                    </div>
                </a>

                <a href="{{ locale['block.screens.3'] }}" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="{{ locale['block.screens.3'] }}" alt="Owl Image">
                    </div>
                </a>

                <a href="{{ locale['block.screens.5'] }}" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="{{ locale['block.screens.5'] }}" alt="Owl Image">
                    </div>
                </a>

                <a href="{{ locale['block.screens.4'] }}" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="{{ locale['block.screens.4'] }}" alt="Owl Image">
                    </div>
                </a>

                <a href="{{ locale['block.screens.6'] }}" class="image-link">
                    <div class="item">
                        <img  class="img-responsive img-rounded" src="{{ locale['block.screens.6'] }}" alt="Owl Image">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>