<div id ="consulting" class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                {#REAL#}
{#                <img class="img-responsive " src="/img/ipad.png" alt="">#}
                {#FLAT#}
                <img class="img-responsive " src="/img/flat/slider/7.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                <h3 class="section-heading">{{ locale['block.useit.consulting.title'] }}</h3>

                <table class="table table-hover lead">
                    <tbody>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.consulting.price.consultation.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.consulting.price.consultation.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.consulting.price.specification.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.consulting.price.specification.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.consulting.price.strategy.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.consulting.price.strategy.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.consulting.price.statistics.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.consulting.price.statistics.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.consulting.price.interview.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.consulting.price.interview.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.consulting.price.audit.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.consulting.price.audit.sum'] }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>