<div id ="solutions" class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInLeftBig">
                {#REAL#}
{#                <img  class="img-responsive img-rounded" src="/img/pm/4.png" alt="">#}



                {#FLAT#}
                <img  class="img-responsive img-rounded" src="/img/flat/3.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
                <h3 class="section-heading">{{ locale['block.useit.solutions.development.title'] }}</h3>
                <table class="table table-hover lead">
                    <tbody>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.development.price.landing.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.development.price.landing.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.development.price.catalog.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.development.price.catalog.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.development.price.site.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.development.price.site.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.development.price.shop.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.development.price.shop.sum'] }}</td>
                    </tr>

                    </tbody>
                </table>
                <hr>
                <h3 class="section-heading">{{ locale['block.useit.solutions.support.title'] }}</h3>
                <table class="table table-hover lead">
                    <tbody>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.support.price.development.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.support.price.development.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.support.price.recovery.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.support.price.recovery.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.support.price.support.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.support.price.support.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.support.price.infrastructure.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.support.price.infrastructure.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.support.price.doc.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.support.price.doc.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.solutions.support.price.database.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.solutions.support.price.database.sum'] }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>