<div id ="programming" class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                {#REAL#}
{#                <img class="img-responsive " src="img/doge.png" alt="">#}
                {#FLAT#}
                <img class="img-responsive " src="/img/flat/6.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                <h3 class="section-heading">{{ locale['block.useit.programming.title'] }}</h3>

                <table class="table table-hover lead">
                    <tbody>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.programming.price.hour.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.programming.price.hour.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.programming.price.day.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.programming.price.day.sum'] }}</td>
                    </tr>
                    <tr>
                        <td class="my-price-left">{{ locale['block.useit.programming.price.week.desc'] }}</td>
                        <td class="my-price-right">{{ locale['block.useit.programming.price.week.sum'] }}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <ul class="descp lead my-price-table2" style="text-align: left!important;">
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> {{ locale['block.useit.programming.list.1'] }}</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> {{ locale['block.useit.programming.list.2'] }}</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> {{ locale['block.useit.programming.list.3'] }}</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> {{ locale['block.useit.programming.list.4'] }}</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> {{ locale['block.useit.programming.list.5'] }}</li>
                    <li><i class="glyphicon glyphicon-thumbs-up"></i> {{ locale['block.useit.programming.list.6'] }}</li>
                </ul>
            </div>
        </div>
    </div>

</div>