<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2 class="my-title-section">{{ locale['block.whatis.title'] }}</h2>
            <p class="lead" style="margin-top:0">{{ locale['block.whatis.desc'] }}</p>

        </div>

        <div class="row">

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="img/icon/laptop.svg" alt="Generic placeholder image">
                <h3>{{ locale['block.whatis.param.1.title'] }}</h3>
                <p class="lead">{{ locale['block.whatis.param.1.desc'] }}</p>

                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/map.svg" alt="Generic placeholder image">
                <h3>{{ locale['block.whatis.param.2.title'] }}</h3>
                <p class="lead">{{ locale['block.whatis.param.2.desc'] }} </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/pencils.svg" alt="Generic placeholder image">
                <h3>{{ locale['block.whatis.param.3.title'] }}</h3>
                <p class="lead">{{ locale['block.whatis.param.3.desc'] }}</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

        <div class="row tworow">

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/retina.svg" alt="Generic placeholder image">
                <h3>{{ locale['block.whatis.param.4.title'] }}</h3>
                <p class="lead">{{ locale['block.whatis.param.4.desc'] }}</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img  class="rotate" src="img/icon/speed.svg" alt="Generic placeholder image">
                <h3>{{ locale['block.whatis.param.5.title'] }}</h3>
                <p class="lead">{{ locale['block.whatis.param.5.desc'] }}</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="buttonЦ">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4  wow fadeInDown text-center">
                <img class="rotate" src="img/icon/browser.svg" alt="Generic placeholder image">
                <h3>{{ locale['block.whatis.param.6.title'] }}</h3>
                <p class="lead">{{ locale['block.whatis.param.6.desc'] }}</p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
    </div>
</div>